$brown:#79675B;
$brown2:#3D342E;
$gray:#F1F1F1;
$yellow:#F7A916;
$blue:#181D24;
$shadow:3px 4px 8px 0px #444444;
html{
  margin:0;
}
body{
  margin:0;
}
#scrollTop{
  position:fixed;
  z-index: 1;
  text-align: center;
  justify-content: center;
  box-shadow:$shadow;
  bottom:20px;
  right:20px;
  width:60px;
  height:60px;
  border-radius: 50%;
  border:2px solid $blue;
  transition:all 0.3s;
  cursor: pointer;
  background:$blue;
  color:#fff;
  font-size: 33px;
  &:hover{
    background:#fff;
    color:$blue;
  }
}
#main-visual{
  background-image: url(images/main-visual.jfif);
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding:50px 0px 0px;
  box-sizing: border-box;
  .content{
    max-width: 1100px;
    width:90%;
    margin:0 auto;
    background-color:rgba(24,29,36,0.7);
    padding:20px 15px;
    margin-bottom:100px;
    text-align: center;
  }
  h5{
    margin-top:0;
    padding:5px;
    background-color: $yellow;
    display: inline-block;
    margin-bottom:70px;
    text-align: center;
    font-size: 22px;
    color:#fff;
  }
  h1{
    margin-top:0;
    margin-bottom:100px;
    color:#fff;
    font-size: 43px;
    text-align: center;
    font-family: 'Noto Serif JP', serif;
font-family: 'Sawarabi Mincho', sans-serif;
  }
  h4{
    font-size:20px;
    text-align: center;
    color:#fff;
  }
  .box{
    background:$blue;
    padding:40px 15px;
    text-align: center;
    color:#fff;
    p{
      font-size: 20px;
    }
    p.accent{
      font-size:22px;
      margin-bottom: 40px;
      color:$yellow;
    }
    a{
      padding:20px 55px;
      border:2px solid $yellow;
      color:$yellow;
      font-weight:bold;
      font-size:22px;
      background:#fff;
      text-decoration: none;
      overflow: hidden;
      position:relative;
      display: inline-block;
      span{
        position:relative;
      }
      &::before{
        z-index: 0;
        content:"";
        background: $yellow;
        position:absolute;
        top:0;
        left:0;
        right:100%;
        bottom:0;
        transition: all 0.3s;
      }
    }
    a:hover{
      span{
        color:#fff;
      }
      &::before{
        left:0;
        right:0;
      }
    }
  }
}
section#section01{
  padding:40px 15px;
  h2{
    color:$blue;
    text-align: center;
    margin-bottom:70px;
    font-size: 32px;
  }
  .box{
    max-width: 800px;
    margin:0 auto;
    ul{
      color:$blue;
      width:100%;
      li{
        margin-bottom:30px;
        font-size:20px;

      }
    }
    p{
      border-bottom:$yellow solid 5px;
      color:$blue;
      font-weight: bold;
      font-size: 24px;
      display: inline;
    }
  }

}
section#section02{
  padding:40px 15px;
  box-sizing: border-box;
  background: $gray;
  h2{
    text-align: center;
    color:$blue;
    margin-bottom:70px;
    font-size: 32px;
  }
  .box{
    width:100%;
    max-width: 900px;
    margin:0 auto;
    p{
      font-size: 20px;
      color: $blue;
    }
    p.accent{
      background:$yellow;
      font-weight: bold;
      display: inline-block;
    }
    p.border-bottom{
      border-bottom:black 2px solid;
      display: inline-block;
    }
    ul{
      padding-top:40px;
      padding-left:0;
      margin:auto;
      margin-bottom:80px;
      list-style: none;
      width:100%;
      li{
        padding:20px;
        box-sizing: border-box;
        h4{
          color:$blue;
          font-size: 28px;
          margin-top:0;
          margin-bottom:10px;
        }
        p{
          color:$blue;
          margin-bottom:0;
        }
        &:nth-child(2n){
          background: #fff;
        }
        &:nth-child(2n+1){
          background:#BCB3AD; ;
        }
      }
    }
  }
}
section#section03{
  padding:60px 15px;
  h2{
    text-align: center;
    color:$blue;
    font-size: 43px;
    margin-bottom:50px;
  }
  .box{
    width:100%;
    margin:0 auto;
    max-width: 900px;
  p{
    border:2px solid $blue;
    padding:20px;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 1.8;
    margin-bottom:50px;
    color:$brown2;
  }
  }
}
section#section04{
  padding:40px 15px 100px;
  box-sizing: border-box;
  background:$blue;
  h2{
    font-size: 32px;
    color:#fff;
    text-align: center;
    margin-bottom:80px;
  }
  .box{
    width:100%;
    max-width:1100px;
    margin:0 auto;
    background: #fff;
    padding:30px;
    box-sizing: border-box;
    p{
      font-size: 20px;
      color:$blue;
      margin-bottom:25px;
    }
    ul{
      display: flex;
      flex-wrap:wrap;
      list-style: none;
      padding-left:0;
      padding-top:40px;
      li{
        width:50%;
        padding:0 10px;
        box-sizing: border-box;
        position:relative;
        span{
          position:absolute;
          background:$yellow;
          color:#fff;
          width:50px;
          height:50px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          top:-10px;
          left:-10px;
          font-size: 24px;
          font-weight: bold;
        }
        .img{
          img{
            width:100%;
            height:300px;
          }
        }
        .discription{
          h4{
            font-size:22px;
          }
        }
      }
    }
  }
}
section#section05{
  padding:40px 15px;
  box-sizing: border-box;
  h2{
    font-size: 32px;
    text-align: center;
    margin-bottom:80px;
    color:$blue;
  }
  .box{
    max-width:900px;
    margin:0 auto;
    p{
      margin-bottom: 40px;
      font-size: 22px;
      color:$brown2;
      line-height: 1.8;
      span{
        border-bottom:5px solid $yellow;
      }
    }
  }
}
section#section06{
  padding:70px 15px;
  box-sizing: border-box;
  background: $gray;
  h2{
    text-align: center;
    color:$blue;
    font-size: 32px;
    margin-bottom:80px;
  }
  .box{
    max-width: 900px;
    width:100%;
    margin: 0 auto;
    ul{
      padding-left:0;
      list-style: none;
      li{
        h4{
          font-size: 22px;
          color:$brown2;
        }
        p{
          font-size:20px;
          color:$blue;
        }
      }
    }
  }
}
section#section07{
  background-image:url(images/visual.jfif);
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding:60px 15px;
  box-sizing: border-box;
  h2{
    text-align: center;
    color:#fff;
    font-size:32px;
    margin-bottom:50px;
  }
  .box{
    max-width: 1100px;
    width:100%;
    margin: 0 auto 60px;
    .content{
      background:#fff;
      box-shadow: $shadow;
      padding:20px;
      box-sizing: border-box;
      margin-bottom:40px;
      h4{
        font-size: 24px;
        color:$blue;
      }
      p{
        font-size:20px;
        color:$blue;
      }
    }
    .content:last-child{
      margin-bottom:80px;
    }
    .discription{
      p{
        color:#fff;
        font-size:20px;
        font-weight: bold;
      }
    }
  }

}
section#section08{
  padding:30px 15px;
  box-sizing: border-box;
  background: $blue;
  .box{
    max-width: 600px;
    width:100%;
    margin:0 auto;
    text-align: center;
    padding:20px;
    // box-shadow: 10px 10px $brown;
    p{
      text-align: center;
      font-size: 20px;
      line-height: 2;
      color:#fff;
      margin-bottom:30px;
    }
    p.accent{
      color:$yellow;
      font-size: 27px;
      margin-bottom: 40px;
      font-weight:bold;
    }
    a{
      padding:20px 55px;
      border:2px solid $yellow;
      color:$yellow;
      font-weight:bold;
      font-size:22px;
      background:#fff;
      text-decoration: none;
      overflow: hidden;
      position:relative;
      display: inline-block;
      span{
        position:relative;
      }
      &::before{
        z-index: 0;
        content:"";
        background: $yellow;
        position:absolute;
        top:0;
        left:0;
        right:100%;
        bottom:0;
        transition: all 0.3s;
      }
    }
    a:hover{
      span{
        color:#fff;
      }
      &::before{
        left:0;
        right:0;
      }
    }
  }
}
section#section09{
  padding:50px 15px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:url(images/visual.jfif);
  h2{
    text-align: center;
    margin-bottom:80px;
    color:#fff;
    font-size: 32px;
  }
  .box{
    width:100%;
    max-width: 1100px;
    margin:0 auto;
    background: #fff;
    padding:20px;
    box-sizing: border-box;
    p{
      font-size: 22px;
      color:$blue;
    }
  }
}
section#section10{
  padding:60px 15px;
  box-sizing: border-box;
  h2{
    text-align: center;
    font-size: 32px;
    color:$blue;
    margin-bottom:50px;
  }
  .accordion{
    max-width: 1100px;
    width:100%;
    margin:0 auto;
    .content{

      .acTitle{
        background: $brown2;
        color:#fff;
        padding:20px 15px;
        box-sizing: border-box;
        cursor: pointer;
        p{
          margin:0;
          font-weight: bold;
          font-size: 20px;
        }
      }
      .discription{
        display: none;
        background:$gray;
        border:$blue solid 2px;
        padding:20px 15px;
        box-sizing: border-box;
        p{
          font-size: 20px;
          margin:0;
        }
      }
    }
  }
}
section#section11{
  padding:60px 15px;
  background: $blue;
  h2{
    font-size: 32px;
    color:#fff;
    text-align: center;
  }
  .content{
    display: flex;
    align-items: center;
    background: #fff;
    padding:30px 15px;
    width:100%;
    max-width: 1100px;
    margin:0 auto;
    box-sizing: border-box;
    .img{
      width:35%;
      img{
        width:100%;
      }
    }
    .discription{
      width:65%;
      padding:0 10px 0 40px;
      box-sizing: border-box;
      h4{
        font-size: 24px;
        color: $brown2;
        margin-top:0;
        margin-bottom:20px;
      }
      h6{
        font-size: 22px;
        color:$brown2;
        margin-top:0;
        margin-bottom:20px;
      }
      p{
        font-size: 18px;
        color:$brown2;
      }
    }
  }
}
@media(max-width:780px){
  #scrollTop{
    bottom:20px;
    right:20px;
    width:50px;
    height:50px;
    font-size: 25px;
    &:hover{
    }
  }
  #main-visual{
    padding:50px 0px 0px;
    box-sizing: border-box;
    .content{
      width:90%;
      margin:0 auto;
      padding:20px 15px;
      margin-bottom:60px;
      text-align: center;
    }
    h5{
      padding:5px;
      display: inline-block;
      margin-bottom:30px;
      font-size: 20px;
    }
    h1{
      margin-bottom:50px;
      font-size:30px;
      br{
        display: none;
      }
    }
    h4{
      font-size:18px;
      color:#fff;
    }
    .box{
      padding:10px 15px;
      text-align: center;
      color:#fff;
      p{
        font-size: 16px;
      }
      p.accent{
        font-size:22px;
        margin-bottom: 40px;
        color:$yellow;
      }
      a{
        padding:10px 5px;
        font-size:16px;
        display: inline-block;
        span{
        }
        &::before{
        }
      }
      a:hover{
        span{
        }
        &::before{
        }
      }
    }
  }
  section#section01{
    padding:60px 15px;
    h2{
      color:$blue;
      text-align: center;
      margin-bottom:70px;
      font-size: 26px;
    }
    .box{
      width:100%;
      margin:0 auto;
      ul{
        color:$blue;
        width:100%;
        padding-left:0;
        list-style: none;
        li{
          margin-bottom:30px;
          font-size:16px;

        }
      }
      p{
        font-size: 18px;
        line-height: 1.8;
      }
    }

  }
  section#section02{
    padding:60px 15px;
    h2{
      margin-bottom:70px;
      font-size: 26px;
      br{
        display: none;
      }
    }
    .box{
      margin:0 auto;
      p{
        font-size: 18px;
      }
      p.accent{
        display: inline-block;
      }
      p.border-bottom{
        display: inline-block;
        line-height: 1.8;
      }
      ul{
        padding-top:40px;
        padding-left:0;
        margin:auto;
        margin-bottom:40px;
        li{
          padding:20px;
          box-sizing: border-box;
          h4{
            font-size: 20px;
            margin-bottom:10px;
          }
          p{
            margin-bottom:0;
          }
        }
      }
    }
  }
  section#section03{
    padding:60px 15px;
    h2{
      font-size: 28px;
      margin-bottom:40px;
    }
    .box{
      width:100%;
    p{
      padding:20px;
      font-size: 18px;
      line-height: 1.5;
      margin-bottom:50px;
    }
    }
  }
  section#section04{
    padding:60px 15px 60px;
    box-sizing: border-box;
    h2{
      font-size: 28px;
      margin-bottom:50px;
      br{
        display: none;
      }
    }
    .box{
      margin:0 auto;
      padding:15px;
      box-sizing: border-box;
      p{
        font-size: 18px;
        color:$blue;
        margin-bottom:20px;
      }
      ul{
        list-style: none;
        padding-left:0;
        padding-top:40px;
        li{
          width:50%;
          padding:0 10px;
          box-sizing: border-box;
          position:relative;
          span{
            width:50px;
            height:50px;
            top:-10px;
            left:-10px;
            font-size: 20px;
          }
          .img{
            img{
              height:200px;
            }
          }
          .discription{
            h4{
              font-size:20px;
            }
          }
        }
      }
    }
  }
  section#section05{
    padding:60px 45px;
    box-sizing: border-box;
    h2{
      font-size: 27px;
      text-align: center;
      margin-bottom:60px;
    }
    .box{
      max-width:900px;
      margin:0 auto;
      p{
        margin-bottom: 40px;
        font-size: 16px;
        line-height: 1.8;
        span{
          border-bottom:5px solid $yellow;
        }
      }
    }
  }
  section#section06{
    padding:50px 45px;
    box-sizing: border-box;
    h2{
      font-size: 25px;
      margin-bottom:50px;
    }
    .box{
      ul{
        li{
          h4{
            font-size: 18px;
          }
          p{
            font-size:16px;
          }
        }
      }
    }
  }
  section#section07{
    padding:60px 15px;
    box-sizing: border-box;
    h2{
      font-size:26px;
      margin-bottom:50px;
    }
    .box{
      margin: 0 auto 60px;
      .content{
        padding:20px;
        box-sizing: border-box;
        margin-bottom:40px;
        h4{
          font-size: 22px;
          color:$blue;
        }
        p{
          font-size:18px;
          color:$blue;
        }
      }
      .content:last-child{
        margin-bottom:80px;
      }
      .discription{
        p{
          color:#fff;
          font-size:17px;
          font-weight: bold;
        }
      }
    }

  }
  section#section08{
    padding:30px 15px;
    .box{
      padding:20px;
      width: 100%;
      display: inline;
      // box-shadow: 10px 10px $brown;
      p{
        font-size: 18px;
        line-height: 2;
        margin-bottom:30px;
      }
      p.accent{
        font-size: 18px;
        margin-bottom: 40px;
        font-weight:bold;
      }
      a{
        padding:15px 25px;
        width:max-content;
        margin:auto;
        border:2px solid $yellow;
        color:$yellow;
        font-weight:bold;
        font-size:22px;
        background:#fff;
        text-decoration: none;
        overflow: hidden;
        position:relative;
        display:block;
        span{
          position:relative;
        }
        &::before{
          z-index: 0;
          content:"";
          background: $yellow;
          position:absolute;
          top:0;
          left:0;
          right:100%;
          bottom:0;
          transition: all 0.3s;
        }
      }
      a:hover{
        span{
          color:#fff;
        }
        &::before{
          left:0;
          right:0;
        }
      }
    }
  }
  section#section09{
    padding:50px 45px;
    h2{
      margin-bottom:50px;
      color:#fff;
      font-size: 22px;
    }
    .box{
      padding:20px;
      box-sizing: border-box;
      p{
        font-size: 18px;
        color:$blue;
      }
    }
  }
  section#section10{
    padding:40px 15px;
    h2{
      font-size: 27px;
      margin-bottom:50px;
    }
    .accordion{
      margin:0 auto;
      .content{

        .acTitle{
          padding:20px 15px;
          p{
            margin:0;
            font-weight: bold;
            font-size: 16px;
          }
        }
        .discription{
          display: none;
          background:$gray;
          border:$blue solid 2px;
          padding:20px 15px;
          box-sizing: border-box;
          p{
            font-size: 20px;
            margin:0;
          }
        }
      }
    }
  }
  section#section11{
    padding:60px 15px;
    background: $blue;
    h2{
      font-size: 22px;
      color:#fff;
      text-align: center;
      margin-bottom: 50px;
    }
    .content{
      display: block;
      padding:30px 15px;
      .img{
        width:80%;
        margin:0 auto 40px;
        img{
          width:100%;
        }
      }
      .discription{
        width:100%;
        padding:0;
        box-sizing: border-box;
        h4{
          font-size: 22px;
          color: $brown2;
          margin-top:0;
          margin-bottom:20px;
        }
        h6{
          font-size: 20px;
          color:$brown2;
          margin-top:0;
          margin-bottom:20px;
        }
        p{
          font-size: 18px;
          color:$brown2;
        }
      }
    }
  }
}
@media(max-width:600px){
  #scrollTop{
    bottom:20px;
    right:20px;
    width:50px;
    height:50px;
    font-size: 25px;
    &:hover{
      background-color: inherit;
      color:inherit;
    }
    box-shadow:$shadow;
    bottom:20px;
    right:20px;
    width:60px;
    height:60px;
    border-radius: 50%;
    border:2px solid $blue;
    transition:all 0.3s;
    cursor: pointer;
    background:$blue;
    color:#fff;
    font-size: 33px;
    &:hover{
      background:#fff;
      color:$blue;
    }
  }
  #main-visual{
    padding:50px 0px 0px;
    box-sizing: border-box;
    background-size: auto;
    .content{
      width:90%;
      margin:0 auto;
      padding:20px 15px;
      margin-bottom:60px;
      text-align: center;
    }
    h5{
      padding:5px;
      display: inline-block;
      margin-bottom:30px;
      font-size: 18px;
    }
    h1{
      margin-bottom:50px;
      font-size:25px;
      br{
        display: none;
      }
    }
    h4{
      font-size:16px;
      color:#fff;
    }
    .box{
      padding:10px 15px;
      text-align: center;
      color:#fff;
      p{
        font-size: 16px;
      }
      p.accent{
        font-size:22px;
        margin-bottom: 40px;
        color:$yellow;
      }
      a{
        padding:10px 5px;
        font-size:16px;
        display: inline-block;
        span{
        }
        &::before{
        }
      }
      a:hover{
        span{
        }
        &::before{
        }
      }
    }
  }
  section#section01{
    padding:40px 15px;
    h2{
      color:$blue;
      text-align: center;
      margin-bottom:70px;
      font-size: 22px;
    }
    .box{
      width:100%;
      margin:0 auto;
      ul{
        color:$blue;
        width:100%;
        padding-left:0;
        list-style: none;
        li{
          margin-bottom:30px;
          font-size:16px;

        }
      }
      p{
        font-size: 18px;
        line-height: 1.8;
      }
    }

  }
  section#section02{
    padding:40px 15px;
    h2{
      margin-bottom:70px;
      font-size: 22px;
      br{
        display: none;
      }
    }
    .box{
      margin:0 auto;
      p{
        font-size: 16px;
      }
      p.accent{
        display: inline-block;
      }
      p.border-bottom{
        display: inline;
        line-height: 1.8;
      }
      ul{
        padding-top:40px;
        padding-left:0;
        margin:auto;
        margin-bottom:40px;
        li{
          padding:20px;
          box-sizing: border-box;
          h4{
            font-size: 20px;
            margin-bottom:10px;
          }
          p{
            margin-bottom:0;
          }
        }
      }
    }
  }
  section#section03{
    padding:40px 15px;
    h2{
      font-size: 25px;
      margin-bottom:40px;
    }
    .box{
      width:100%;
    p{
      padding:20px;
      font-size: 16px;
      line-height: 1.5;
      margin-bottom:50px;
    }
    }
  }
  section#section04{
    padding:20px 15px 60px;
    box-sizing: border-box;
    h2{
      font-size: 22px;
      margin-bottom:50px;
      br{
        display: none;
      }
    }
    .box{
      margin:0 auto;
      padding:15px;
      box-sizing: border-box;
      p{
        font-size: 18px;
        color:$blue;
        margin-bottom:20px;
      }
      ul{
        display: block;
        flex-wrap:nowrap;
        list-style: none;
        padding-left:0;
        padding-top:40px;
        li{
          width:100%;
          padding:0 10px;
          box-sizing: border-box;
          position:relative;
          span{
            width:40px;
            height:40px;
            top:-10px;
            left:-10px;
            font-size: 20px;
          }
          .img{
            img{
              height:150px;
            }
          }
          .discription{
            h4{
              font-size:20px;
            }
          }
        }
      }
    }
  }
  section#section05{
    padding:40px 15px;
    box-sizing: border-box;
    h2{
      font-size: 22px;
      text-align: center;
      margin-bottom:60px;
    }
    .box{
      max-width:900px;
      margin:0 auto;
      p{
        margin-bottom: 40px;
        font-size: 16px;
        line-height: 1.8;
        span{
          border-bottom:5px solid $yellow;
        }
      }
    }
  }
  section#section06{
    padding:50px 15px;
    box-sizing: border-box;
    h2{
      font-size: 18px;
      margin-bottom:50px;
    }
    .box{
      ul{
        li{
          h4{
            font-size: 18px;
          }
          p{
            font-size:16px;
          }
        }
      }
    }
  }
  section#section07{
    padding:60px 15px;
    background-image: url(images/visual.jfif);
    box-sizing: border-box;
    background-size: auto;
    h2{
      font-size:22px;
      margin-bottom:50px;
    }
    .box{
      margin: 0 auto 60px;
      .content{
        padding:20px;
        box-sizing: border-box;
        margin-bottom:40px;
        h4{
          font-size: 18px;
          color:$blue;
        }
        p{
          font-size:16px;
          color:$blue;
        }
      }
      .content:last-child{
        margin-bottom:80px;
      }
      .discription{
        p{
          color:#fff;
          font-size:17px;
          font-weight: bold;
        }
      }
    }

  }
  section#section08{
    padding:30px 15px;
    .box{
      padding:20px;
      width: 100%;
      display: inline;
      // box-shadow: 10px 10px $brown;
      p{
        font-size: 16px;
        line-height: 2;
        margin-bottom:30px;
      }
      p.accent{
        font-size: 18px;
        margin-bottom: 40px;
        font-weight:bold;
      }
      a{
        padding:10px 5px;
        font-size:16px;
        position:relative;
        display:block;
        span{
          position:relative;
        }
        &::before{
          z-index: 0;
          content:"";
          background: $yellow;
          position:absolute;
          top:0;
          left:0;
          right:100%;
          bottom:0;
          transition: all 0.3s;
        }
      }
      a:hover{
        span{
          color:#fff;
        }
        &::before{
          left:0;
          right:0;
        }
      }
    }
  }
  section#section09{
    padding:50px 15px;
    background-image: url(images/visual.jfif);
    background-size: auto;
    h2{
      margin-bottom:50px;
      color:#fff;
      font-size: 22px;
    }
    .box{
      padding:20px;
      box-sizing: border-box;
      p{
        font-size: 16px;
        color:$blue;
      }
    }
  }
  section#section10{
    padding:40px 15px;
    h2{
      font-size: 27px;
      margin-bottom:50px;
    }
    .accordion{
      margin:0 auto;
      .content{

        .acTitle{
          padding:20px 15px;
          p{
            margin:0;
            font-weight: bold;
            font-size: 16px;
          }
        }
        .discription{
          display: none;
          background:$gray;
          border:$blue solid 2px;
          padding:20px 15px;
          box-sizing: border-box;
          p{
            font-size: 20px;
            margin:0;
          }
        }
      }
    }
  }
  section#section11{
    padding:60px 15px;
    background: $blue;
    h2{
      font-size: 22px;
      color:#fff;
      text-align: center;
    }
    .content{
      display: block;
      padding:30px 15px;
      .img{
        width:100%;
        margin-bottom:40px;
        img{
          width:100%;
        }
      }
      .discription{
        width:100%;
        padding:0;
        box-sizing: border-box;
        h4{
          font-size: 20px;
          color: $brown2;
          margin-top:0;
          margin-bottom:20px;
        }
        h6{
          font-size: 18px;
          color:$brown2;
          margin-top:0;
          margin-bottom:20px;
        }
        p{
          font-size: 18px;
          color:$brown2;
        }
      }
    }
  }
}
